# IntelliJ project files
.idea
*.iml
out
gen
.github

easyrsa
easyrsa_master
easyrsa_slave
ccd
ccd_master
ccd_slave
frontend/node_modules
frontend/static/dist
openvpn-web-ui
openvpn-ui
openvpn-admin
ovpn-admin

docker-compose.yaml
img
