# IntelliJ project files
.idea
*.iml
out
gen


easyrsa
easyrsa_master
easyrsa_slave
ccd
ccd_master
ccd_slave
werf.yaml
frontend/node_modules
frontend/static/dist
openvpn-web-ui
openvpn-ui
openvpn-admin
ovpn-admin

docker-compose.yaml
docker-compose-slave.yaml
img
