<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ovpn-admin</title>
</head>
<body>
<script src="dist/style.min.js"></script>
<div id="app">
  <vue-good-table
    :columns="columns"
    :rows="filteredRows"
    :line-numbers="true"
    :row-style-class="rowStyleClassFn"
    :search-options="{ enabled: true}" >
    <div slot="table-actions">
      <button type="button" class="btn btn-sm btn-success el-square" v-show="serverRole == 'master'" v-on:click.stop="u.modalNewUserVisible=true">Add user</button>
      <b-badget class="btn btn-sm btn-info el-square" v-if="serverRole == 'slave'">Slave - last sync: {{ lastSync }}</b-badget>
      <button type="button" class="btn btn-sm btn-secondary el-square" v-on:click.stop="filters.hideRevoked=!filters.hideRevoked;this.$cookies.set('hideRevoked',!(this.$cookies.get('hideRevoked') == 'true'), -1);">{{ revokeFilterText }}</button>
    </div>
    <div slot="emptystate" class="d-flex justify-content-center">
      <h4>No users have been created yet.</h4>
      <br>
      <button type="button" class="btn btn-sm btn-success el-square" v-if="serverRole == 'master'" v-on:click.stop="u.modalNewUserVisible=true">Add user</button>
    </div>
    <template slot="table-row" slot-scope="props">
      <span v-if="props.column.field == 'actions'">
        <button
          class="btn btn-sm el-square modal-el-margin"
          type="button"
          :title="action.label"
          :data-username="props.row.Identity"
          :data-secondfactor="props.row.SecondFactor"
          :data-name="action.name"
          :data-text="action.label"
          @click.left.stop="rowActionFn"
          v-for="action in actions"
          v-bind:class="action.class"
          v-if="action.showWhenStatus == props.row.AccountStatus &&
                ( props.row.SecondFactor != 'disabled' || !(action.Require2FA) ) &&
                action.showForServerRole.includes(serverRole) &&
                action.showForModule.some(p=> modulesEnabled.includes(p))">
          {{ action.label }}
        </button>
      </span>
    </template>
  </vue-good-table>

  <div class="modal-wrapper" v-if="u.modalNewUserVisible" v-bind:style="[u.modalNewUserVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
          <h4>Add new user</h4>
        </div>
        <div class="modal-body">
          <input type="text" class="form-control el-square modal-el-margin" placeholder="Username [_a-zA-Z0-9\.-]" v-model="u.newUserName">
          <input type="password" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="Password [_a-zA-Z0-9\.-]" v-model="u.newUserPassword" v-if="modulesEnabled.includes('passwdAuth')||modulesEnabled.includes('totpAuth')">
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
          <div class="alert" v-bind:class="alertCssClass" role="alert" > >
            {{ u.modalActionMessage }}
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="createUser()">Create</button>
            <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.newUserName='';u.newUserPassword='nopass';u.modalActionMessage='';u.modalNewUserVisible=false">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalChangePasswordVisible" v-bind:style="[u.modalChangePasswordVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h4>Change password for: <strong>{{ username }}</strong></h4>
        </div>

        <div class="modal-body">
          <input type="password" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="Password [_a-zA-Z0-9\.-]" v-model="u.newPassword">
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
          <div class="alert" v-bind:class="alertCssClass" role="alert" >
            {{ u.modalActionMessage }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="changeUserPassword(username)">Change password</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.newPassword='';u.modalActionMessage='';u.modalChangePasswordVisible=false">Close</button>
        </div>

      </div>
    </div>
  </div>


  <div class="modal-wrapper" v-if="u.modalShowCcdVisible" v-bind:style="[u.modalShowCcdVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="static-address-label ">Routes table for: <strong>{{ username }}</strong></h3>
        </div>

        <div class="modal-body">
          <div class="input-group">
            <h5 class="static-address-label ">Static address:</h5>
            <input id="static-address" type="text" class="form-control" v-model="u.ccd.ClientAddress" placeholder="127.0.0.1">
            <div class="input-group-append">
              <button id="static-address-clear" class="btn btn-warning" type="button" v-on:click="u.ccd.ClientAddress = 'dynamic'" v-if="serverRole == 'master'" v-bind:disabled="customAddressDynamic">Clear</button>
            </div>
          </div>
        </div>

        <div class="modal-body">
          <div class="d-flex ">
            <table class="table table-bordered table-hover ccd-routes" >
              <thead>
                <tr>
                  <th scope="col">Address</th>
                  <th scope="col">Mask</th>
                  <th scope="col">Description</th>
                  <th scope="col" v-if="serverRole == 'master'">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(customRoute, index) in u.ccd.CustomRoutes">
                  <td>
                    <div v-if="serverRole == 'slave'">
                      {{ customRoute.Address }}
                    </div>
                    <input v-if="serverRole == 'master'" v-model="customRoute.Address">
                  </td>
                  <td>
                    <div v-if="serverRole == 'slave'">
                    {{ customRoute.Mask }}
                    </div>
                    <input v-if="serverRole == 'master'" v-model="customRoute.Mask">
                  </td>
                  <td>
                    <div v-if="serverRole == 'slave'">
                    {{ customRoute.Description }}
                    </div>
                    <input v-if="serverRole == 'master'" v-model="customRoute.Description">
                  </td>
                  <td class="text-right" v-if="serverRole == 'master'">
                      <button type="button" class="btn btn-danger btn-sm el-square modal-el-margin" v-if="serverRole == 'master'" v-on:click.stop="u.ccd.CustomRoutes.splice(index, 1)">Delete</button>
                  </td>
                </tr>
                <tr v-if="serverRole == 'master'">
                  <td><input type="text" v-model="u.newRoute.Address"/></td>
                  <td><input type="text" v-model="u.newRoute.Mask"/></td>
                  <td><input type="text" v-model="u.newRoute.Description"/></td>
                  <td class="text-right" v-if="serverRole == 'master'">
                    <button type="button" class="btn btn-success el-square modal-el-margin" v-on:click.stop="u.ccd.CustomRoutes.push(u.newRoute);u.newRoute={};">Add</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
            <div class="alert" v-bind:class="alertCssClass" role="alert">
              {{ u.modalActionMessage }}
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-success el-square modal-el-margin" v-if="serverRole == 'master'" v-on:click.stop="ccdApply()">Save</button>
            <button type="button" class="btn btn-primary el-square modal-el-margin" v-on:click.stop="u.ccd={Name:'',ClientAddress:'',CustomRoutes:[]};u.modalActionMessage='';u.ccdApplyStatus='';u.modalShowCcdVisible=false">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalRotateUserVisible" v-bind:style="[u.modalRotateUserVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4>Confirm rotating certificates for user: <strong>{{ username }}</strong></h4>
        </div>

        <div class="modal-body" v-if="modulesEnabled.includes('passwdAuth')">
          <h4>Enter new password:</h4>
          <input type="password" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="Password [_a-zA-Z0-9\.-]" v-model="u.newPassword">
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
          <div class="alert" v-bind:class="alertCssClass" role="alert" >
            {{ u.modalActionMessage }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger el-square modal-el-margin" v-on:click.stop="rotateUser(username)">Rotate</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.newPassword='';u.modalActionMessage='';u.modalRotateUserVisible=false">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalDeleteUserVisible" v-bind:style="[u.modalDeleteUserVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4>Confirm deleting user: <strong>{{ username }}</strong></h4>
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
          <div class="alert" v-bind:class="alertCssClass" role="alert" >
            {{ u.modalActionMessage }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger el-square modal-el-margin" v-on:click.stop="deleteUser(username)">Delete</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.modalActionMessage='';u.modalDeleteUserVisible=false">Close</button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-wrapper" v-if="u.modalRegister2faVisible" v-bind:style="[u.modalRegister2faVisible ? {display: 'flex'} : {}]">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header justify-content-center">
          <h4>2FA TOTP</h4>
        </div>

        <div class="modal-body justify-content-center" v-if="secondfactor == 'disabled' ">
          <div style="text-align: center">
            <vue-qr
              :text=u.twofaurl
              :size="300"
            ></vue-qr>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Can't scan the code? </h5>
              <h6 class="card-subtitle text-muted">To add the entry manually, provide the following details to the application on your phone.</h6>
              <div class="justify-content-left" style="margin-top: 1em;">
                <p style="margin: 0;">
                  Account: OVPN:{{username}}
                </p>
                <p style="margin: 0;">
                  Key: <code class="two-factor-secret">{{u.secret}}</code>
                </p>
                <p style="margin: 0;">
                  Time based: Yes
                </p>
              </div>
            </div>
          </div>
          <input type="text" class="form-control el-square modal-el-margin" minlength="6" autocomplete="off" placeholder="Pin Code"  v-model="u.token">
        </div>

        <div class="modal-body justify-content-center" v-if="secondfactor == 'enabled' ">
          <h4>2FA with TOTP already configured for user: <strong>{{ username }}</strong></h4>
        </div>

        <div class="modal-footer justify-content-center" v-if="u.modalActionMessage.length > 0">
          <div class="alert" v-bind:class="alertCssClass" role="alert" >
            {{ u.modalActionMessage }}
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success el-square modal-el-margin" v-if="secondfactor == 'disabled' " v-on:click.stop="registerUser2faApp(username)">Register 2FA TOTP</button>
          <button type="button" class="btn btn-danger el-square modal-el-margin" v-if="secondfactor == 'enabled' " v-on:click.stop="resetUser2faApp(username)">Reset 2FA TOTP</button>
          <button type="button" class="btn btn-primary el-square d-flex justify-content-sm-end modal-el-margin" v-on:click.stop="u.modalActionMessage='';u.modalRegister2faVisible=false;u.token=''">Close</button>
        </div>

      </div>
    </div>
  </div>

  <notifications position="bottom left" :speed="900" />
</div>
<script src="dist/bundle.min.js"></script>
</body>
</html>
