html, body {
  height: 100%;
}

body {
  overflow-y: scroll;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
}

.dropdown-custom {
  display: block;
}

.el-square {
  border-radius: 0;
}

.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .3s ease;
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin:  auto 0;
}

.static-address-label {
   margin: 0.1em 1em 0.1em 0.1em;
}

.modal-el-margin {
  margin: 0.1rem;
}

.connected-user {
  background-color: rgba(162, 245, 169, 0.5);
}

.revoked-user {
  background-color: rgba(198, 186, 186, 0.5);
}

.expired-user {
  background-color: rgba(255, 220, 127, 0.5);
}

.new-user-btn {
  margin-right: 2rem;
}

.modal-show-config-txt-box {
  /* width: 50rem; */
  max-height: 30rem;
  background-color: #ffffff;
  padding: 1rem;
}

.ccd-routes {

}
